{% extends 'index.html' %}

{% block news %}
    {% for news in user_news %}
        <div class="col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.content | truncatewords:10 }}</p>
                <a href="{% url 'edit-news' news.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'remove-news' news.id %}" class="btn btn-danger">Remove</a>
                {% if news.status == 0 %}
                    <a href="{% url 'send-check-news' news.id %}" class="btn btn-primary">Send check</a>
                {% elif news.status == 1 %}
                    <button class="btn btn-primary" disabled>Checking..</button>
                {% elif news.status == 2 and not news.is_published %}
                    <a href="{% url 'publish-news' news.id %}" class="btn btn-success">Publish</a>
                {% elif news.is_published %}
                    <button class="btn btn-success" disabled>Published</button>
                {% endif %}
            </div>
        </div></div>
    {% endfor %}
{% endblock %}