{% extends "index.html" %}

{% block products %}
<table>
    <tr>
        <th>Name</th>
        <th>Fats</th>
        <th>Carbs</th>
        <th>Proteins</th>
        <th>Grams</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.fats}}</td>
        <td>{{product.carbs}}</td>
        <td>{{product.proteins}}</td>
        <td>{{product.grs}}</td>
    </tr>
    {% endfor %}
</table>

<br>
<br>
<br>

<form action="/sync" method="POST">
    <input type="submit" value="sync">
</form>
<form action="/upload" method="POST">
    <input type="submit" value="upload">
</form>
<form action="/drop" method="POST">
    <input type="submit" value="drop">
</form>
{% endblock %}